.button
{
-fx-background-color : #2d98da;
}
#StackPane, #AnchorPane, #tableTableview{
-fx-background-color:#a5b1c2;
}
#VBox{
-fx-background-color : #2d98da; 	
}
.button:hover{
-fx-background-color : #86879c;
}
.button:pressed
{
-fx-background-color : #1620A1;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.label{
	-fx-text-fill: #000000;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.table-view .column-header{
    -fx-text-fill: #e7e5e5;
}

.table-view .column-header .label {
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.table-row-cell {
     -fx-font-size: 14;
    -fx-text-fill: white;
}

.table-view .table-cell{
    -fx-background-color: #a5b1c2;
    -fx-text-fill: #e7e5e5;
    -fx-alignment: center;
}

.table-row-cell:selected .table-cell {  
    -fx-opacity: 0.9;
}
.table-row-cell:selected {
     -fx-font-weight: bold;
}

.table-view .column-header * {
    -fx-background-color: #a5b1c2;
}

